# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos (root y front)
.env
.env.*
client/.env
client/.env.*

# Producción / builds
dist/
build/
server/public/

# Archivos sensibles
*.key
*.pem

# Archivos temporales
*.log
*.gz
*.zip
*.tar
*.tmp
*.bak

# Jupyter
*.ipynb_checkpoints

# Editor y sistema operativo
.DS_Store
.vscode/
.replit

# Vite config de entornos
vite.config.ts.*
